main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 100px;
    text-align: justify;
    padding-block: 100px;
  }
{
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
  }

  html {
    scroll-behavior: smooth;
  }
  
  body {
    text-align: center;
    font-size: larger;
    font-family: sans-serif;
  }
  
  a {
    text-decoration: none;
    color: inherit;
    padding: 10px;
    font-weight: bolder;
  }
  
  header {
    padding-inline: 50px;
    position: sticky;
    top: 0%;
    z-index: 1;
    background-color: white;
    box-shadow: 0px 0px 5px;
  }

  header img {
    width: 100px;
    height: 100px;
    object-fit: contain;
  }

  .mainheader {
    display: flex;
    column-gap: 25px;
    align-items: center;
  }
  
  header nav {
    display: flex;
    align-items: center;
    column-gap: 25px;
    width: 100%;
    justify-content: flex-end;
  }
  
  header i {
    font-size: 30px;
  }
  
  .active{
    color: red;
  }
  
  input,select {
    width: 200px;
    padding-inline: 10px;
    padding-block: 5px;
    font-size: medium;
  }
  
  .buttons {
    display: flex;
    align-items: center;
    column-gap: 10px;
  }
  
  button {
    font-size: inherit;
    background-color:black;
    color: white;
    padding-block: 5px;
    padding-inline: 10px;
    box-shadow: 0px 0px 10px;
    border-radius: 5px;
    cursor: pointer;
  }

  button:hover {
    background-color:white;
    color: black;
    box-shadow: 0px 0px 2.5px;
  }

  span {
    color: red;
  }

  .user {
    display: flex;
    flex-direction: column;
    row-gap: 25px;
    width: 250px;
    padding-block: 10px;
    padding-inline: 25px;
    box-shadow: 0px 0px 5px;
    border-radius: 10px;
    position: fixed;
    background-color: white;
    top: 10%;
    right: 10px;
    text-align: justify;
  }

  .user a {
    width: 100%;
    padding-block: 5px;
    cursor: pointer;
  }

  .user i {
    font-size: inherit;
  }

  .hide {
    display: none !important;
  }

  .jobtype {
    width: 200px;
    height: fit-content;
    z-index: 1;
    position: fixed;
    top: 10%;
    right:30%;
    border-radius: 10px;
    box-shadow: 0px 0px 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding-block: 25px;
    background-color: white;
  }


  .searchblock {
    display: flex;
    align-items: center;
    column-gap: 25px;
    font-size: inherit;
    padding-inline: 10px;
  }
  
  .searchblock input {
    font-size: inherit;
    padding: 10px;
    width: 400px;
    border-radius: 10px;
  }
  
  .searchblock div {
    display: flex;
    align-items: center;
    position: relative;
  }
  
  .searchblock div .fa-magnifying-glass {
    font-size: inherit;
    position: absolute;
    right: -30px;
    font-size: 25px;
  }

  .searchblock div .fa-microphone {
    font-size: inherit;
    position: absolute;
    right: 10px;
    font-size: 25px;
  }

  .user h4 {
    cursor: pointer;
  }

  #textSizeControls {
    position: fixed;
    z-index: 2;
    top: 15%;
}

#textSizeControls button{
  font-size: small;
  font-weight: bold;
}
  .block {
    text-align: justify;
    display: flex;
    flex-direction: column;
    row-gap: 25px;
  }

  .boxdesign {
    padding-inline: 10px;
    padding-block: 5px;
    border: solid red;
    border-radius: 5px;
    width: fit-content;
    border-width: thin;
  }

  .mainblock img {
    width: 800px;
    height: 600px;
  }

  .mainblock {
    display: flex;
    align-items: center;
    column-gap: 100px;
    font-size: larger;
  }

  .slider img {
    width: 200px;
    height: 200px;
    object-fit: contain;
  }

  .slider {
    display: flex;
    justify-content: start;
    column-gap: 200px;
    width: 1100px;
    overflow: scroll;
    scroll-behavior: smooth;
  }

  .slider::-webkit-scrollbar {
    display: none !important;
  }

  h2 {
    font-size: 35px;
  }

  .sliderbox {
    display: flex;
    align-items: center;
    font-size: 40px;
    column-gap: 100px;
  }

  .fa-greater-than,.fa-less-than {
    border-radius: 50%;
    padding: 20px;
    cursor: pointer;
    color: red;
  }

  footer {
    background-color: black;
    color: white;
    padding-block: 25px;
  }

  footer i {
    border-radius: 50%;
    padding: 20px;
    cursor: pointer;
    color:white;
    border: solid white;
  }

  footer i:hover {
    color: red;
  }
